@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-nique-blue: #003057;
    --color-nique-blue-hover: #0E3682;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    font-family: 'Oswald', sans-serif;
}

h6 {
    font-family: "Roboto Condensed", sans-serif;
}

p {
    font-family: 'EB Garamond', Times, serif;
}

a {
    transition: all 0.3s ease;
}

button {
    transition: all 0.3s ease;
}

button:hover {
    cursor: pointer;
}

.title:hover {
    opacity: 0.7;
}